body {
    font-family: Arial;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
}



section {
    padding: 20px;
    text-align: center;
}

.contenedor {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.caja {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);

    width: 150px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

