body {
  margin: 0;
}

nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  transition: 1s;
}

nav a:hover {
  
  color: yellow;
    border-bottom: 2px solid yellow;

}